# Output directories
target/**

# Environment files
.env
.env.*

# FeedYourAI
feedyourai.txt

# Todo files
todo.txt

# DS_Store
.DS_Store

bun.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
Cargo.lock
uv.lock
node_modules/**
dist/**
build/**
